/.idea
/.vscode
/node_modules
/vendor
/public/storage
/storage/*.key
.env
.env.*
/Homestead.json
/Homestead.yaml
/.phpunit.result.cache
.phpunit.cache
/.phpintel
/.DS_Store
/.sass-cache
npm-debug.log
yarn-error.log
composer.lock
/.env.local
/.env.testing
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.history
/.idea/
/.vscode/
/.env.backup
/.cache
coverage/
/.sass-cache
/.parcel-cache
public/hot
public/storage
/.phpunit.result.cache
/.phpunit.cache
# ignore deps and backups
node_modules/
vendor/
PLvL+RcT.from-PLvL+RcT/

